logicapps/la-publish-ais-demo/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Transform_JSON_To_JSON": {
                "type": "Liquid",
                "kind": "JsonToJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "map": {
                        "source": "LogicApp",
                        "name": "jsontrans.liquid"
                    }
                },
                "runAfter": {}
            },
            "Send_message": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "entityName": "sbtopic-ais-demo",
                        "message": {
                            "contentData": "@body('Transform_JSON_To_JSON')",
                            "contentType": "application/json"
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "sendMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Transform_JSON_To_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "content-type": "application/json"
                    },
                    "body": "@body('Transform_JSON_To_JSON')?['body']"
                },
                "runAfter": {
                    "Send_message": [
                        "Succeeded"
                    ]
                }
            },
            "Response_2": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 500,
                    "headers": {
                        "content-type": "text/plain"
                    },
                    "body": "Logic App completed - Failed to send message to service bus, content was:\n@{body('Transform_JSON_To_JSON')?['body']}"
                },
                "runAfter": {
                    "Send_message": [
                        "FAILED"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "devices": {
                                "type": "string"
                            },
                            "firstName": {
                                "type": "string"
                            },
                            "lastName": {
                                "type": "string"
                            },
                            "phone": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}