logicapps/la-subscribe-ais-demo/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "type": "Foreach",
                "foreach": "@triggerOutputs()?['body']",
                "actions": {
                    "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@item()?['contentData']",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "fullName": {
                                        "type": "string"
                                    },
                                    "firstNameUpperCase": {
                                        "type": "string"
                                    },
                                    "phoneAreaCode": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    },
                                    "devices": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "runAfter": {}
                    },
                    "Uploads_a_Blob_to_Azure_Storage": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "containerName": "subscriber",
                                "blobName": "@{utcNow()}.json",
                                "content": {
                                    "Full Name": "@body('Parse_JSON')?['fullName']",
                                    "Phone Number": "@body('Parse_JSON')?['phone']",
                                    "Devices": "@body('Parse_JSON')?['devices']"
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureBlob",
                                "operationId": "uploadBlob",
                                "serviceProviderId": "/serviceProviders/AzureBlob"
                            }
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "sbtopic-ais-demo-nonprod",
                        "subscriptionName": "sbsubscription-ais-demo-nonprod"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}