logicapps/la-subscribe-ais-demo/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "type": "Foreach",
                "foreach": "@triggerOutputs()?['body']",
                "actions": {
                    "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@items('For_each')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "contentData": {
                                        "type": "object",
                                        "properties": {
                                            "fullName": {
                                                "type": "string"
                                            },
                                            "firstNameUpperCase": {
                                                "type": "string"
                                            },
                                            "phoneAreaCode": {
                                                "type": "string"
                                            },
                                            "phone": {
                                                "type": "string"
                                            },
                                            "devices": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "contentType": {
                                        "type": "string"
                                    },
                                    "userProperties": {
                                        "type": "object",
                                        "properties": {}
                                    },
                                    "messageId": {
                                        "type": "string"
                                    },
                                    "scheduledEnqueueTimeUtc": {
                                        "type": "string"
                                    },
                                    "timeToLive": {
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        "runAfter": {}
                    },
                    "Uploads_a_Blob_to_Azure_Storage": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "containerName": "subscriber",
                                "blobName": "@{utcNow()}.json",
                                "content": {
                                    "fullname": "@{body('Parse_JSON')?['contentData']?['fullName']}",
                                    "devices": "@body('Parse_JSON')?['contentData']?['devices']",
                                    "phone": "@{body('Parse_JSON')?['contentData']?['phone']}"
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureBlob",
                                "operationId": "uploadBlob",
                                "serviceProviderId": "/serviceProviders/AzureBlob"
                            }
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "triggers": {
            "When_messages_are_available_in_Service_Bus_topic": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "sbtopic-ais-demo-nonprod",
                        "subscriptionName": "sbsubscription-ais-demo-nonprod"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}